
<div class="search-container">
<h1>Unsplash images</h1>
<%= form_tag '/favorite_images/index', method: 'get', class: "form-search" do %>
  <%= text_field_tag :search, @search, class: "form-control" %>
  <%= submit_tag "Search", class: "btn btn-secondary" %>
<% end %>
</div>
<div class="gallery">
<%@api_response.to_a.each_with_index do |image, i|%>
<% saved_image= @favorite_images.any?{|fi| fi.image_id==image["id"]} %>
<div class="section-border" style="<%= saved_image ? "background-color: rgb(0,128,0, 0.5);" : "" %>">
  <div class="images-style"  style="background-image: url(<%=image["url"] %>);">
  </div>
  <div class="row button-and-author">
  <p class="col-6"><strong>author:</strong> <%=image["user"] %></p>
  <%unless saved_image%>
    <%= button_to "save to favorites", "/favorite_images/save", method: 'post', :form => { :id => "button#{i}", :class => "col-6 button-save-image" }, params: {id: image["id"], author: image["user"], url: image["url"], search: @search}  %>
  <%else%>
    <%= button_to "delete from favorites", "/favorite_images/delete", method: 'delete', :form => { :id => "button#{i}", :class => "col-6 button-delete-image" }, params: {id: image["id"]}  %>
  <%end%>
  </div>
</div>
<%end%>
</div>
